[submodule "submodules/domliner"]
	path = submodules/domliner
	url = https://github.com/SaschaNaz/DOMLiner.git
[submodule "submodules/promise"]
	path = submodules/promise
	url = https://github.com/taylorhakes/promise-polyfill.git
[submodule "submodules/eventpromise"]
	path = submodules/eventpromise
	url = https://github.com/SaschaNaz/EventPromise.git
[submodule "submodules/fixedviewport"]
	path = submodules/fixedviewport
	url = https://github.com/SaschaNaz/fixedviewport.js.git
