.comic-panel {
  background-image: url("../UI/로딩화면/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
  .comic-panel div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .comic-panel .fade-in {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: linear;
  }

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@-webkit-keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}