.map {
  width: 480px;
  height: 420px;
  background: #EEEEEE;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(8, 1fr);
}
  .map div {
    background-color: green;
    margin: 5px;
  }
    .map div[data-cell-type=normal] {
      background-color: #83C7E8;
    }
    .map div[data-cell-type=march] {
      background-color: #48E85D;
    }
    .map div[data-cell-type=weekend] {
      background-color: #F26B83;
    }
    .map div[data-cell-type=before_exam] {
      background-color: #FFEC96;
    }
    .map div[data-cell-type=after_exam] {
      background-color: #62666E;
    }
    .map div[data-cell-type=festival] {
      background-color: #DA1703;
    }
    .map div[data-cell-type=dance] {
      background-color: #1E2F89;
    }
    .map div[data-cell-type=special] {
      background-color: #34CC93;
    }

.cell1 { grid-area: 1 / 4; }
.cell2 { grid-area: 1 / 3; }
.cell3 { grid-area: 1 / 2; }
.cell4 { grid-area: 1 / 1; border-top-left-radius: 100%; }
.cell5 { grid-area: 2 / 1; }
.cell6 { grid-area: 3 / 1; border-bottom-left-radius: 100%; }
.cell7 { grid-area: 3 / 2; }
.cell8 { grid-area: 3 / 3; }
.cell9 { grid-area: 3 / 4; }
.cell10 { grid-area: 3 / 5; }
.cell11 { grid-area: 3 / 6; }
.cell12 { grid-area: 3 / 7; }
.cell13 { grid-area: 3 / 8; border-top-right-radius: 100%; }
.cell14 { grid-area: 4 / 8; }
.cell15 { grid-area: 5 / 8; border-bottom-right-radius: 100%; }
.cell16 { grid-area: 5 / 7; }
.cell17 { grid-area: 5 / 6; }
.cell18 { grid-area: 5 / 5; }
.cell19 { grid-area: 5 / 4; }
.cell20 { grid-area: 5 / 3; }
.cell21 { grid-area: 5 / 2; }
.cell22 { grid-area: 5 / 1; border-top-left-radius: 100%; }
.cell23 { grid-area: 6 / 1; }
.cell24 { grid-area: 7 / 1; border-bottom-left-radius: 100%; }
.cell25 { grid-area: 7 / 2; }
.cell26 { grid-area: 7 / 3; }
.cell27 { grid-area: 7 / 4; }
.cell28 { grid-area: 7 / 5; }
.cell29 { grid-area: 7 / 6; }
.cell30 { grid-area: 7 / 7; }
.cell31 { grid-area: 7 / 8; }