.result-panel {
  display: flex;
  flex-direction: column;
}
  .result-panel .title {
    height: 120px;
  }
  .result-panel .content-row {
    flex: 1;
    z-index: 5;

    display: flex;
    justify-content: center;
  }
  .result-panel .content {
    width: 1600px;

    display: flex;
    flex-direction: column;
  }
  .result-panel .result {
    flex: 1;
    display: flex;
  }
  .result-panel .progress {
    font-size: 50px;
    flex: 1;
    padding: 0 60px 60px 60px;
  }
  .result-panel progress {
    width: 600px;
  }
  .result-panel .character {
    flex: 0.3;
    padding: 40px;
    margin-top: -80px;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../UI/캐릭터/남자/남자1.png);

    display: flex;
    flex-direction: column-reverse;
  }
  .result-panel .back {
    margin-right: -40px;
    margin-bottom: -40px;
  }
  .result-panel .content-footer {
    background-color: rgba(256, 256, 256, 0.58);
    padding: 20px;
    font-size: 42px;
  }

  .result-panel .result-total-grade {
    color: red;
  }
  .result-panel .result-progress-flow {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .result-panel .result-progress-flow > div {
    margin-top: 30px;
  }

