.startarea {
  display: flex;
  flex-direction: column;
}
  .startarea .start-titlearea {
    flex: 2;
    background-image: url(../UI/시작화면/학교로고.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .startarea .start-buttonarea {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 80px;
    color: white;
  }
    .startarea .start-buttonarea > div {
      background-color: #4A579F;
      padding: 20px 50px 20px 50px;
      margin: 20px;
      cursor: default;
    }
    .startarea .start-buttonarea > div:hover {
      background-color: #6579C9;
    }
    .startarea .start-buttonarea > div.disabled {
      background-color: gray;
    }
